<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Bss\CustomProfile\Block\Profile\ProfileDefault
 */

// phpcs:disable Magento2.Security.IncludeFile.FoundIncludeFile
// phpcs:disable PSR2.Methods.FunctionCallSignature.SpaceBeforeOpenBracket
?>

<div data-mage-init='{ "profileAdd": {} }'>
    <div class="margin-top-5px">
        Họ và tên
    </div>
    <input class="margin-top-5px" type="text" placeholder="Nguyen Van A" id="fullName"/>
    <div class="margin-top-5px">
        Ngày tháng năm sinh
    </div>
    <input class="margin-top-5px" type="text" placeholder="1/1/1991" id="dob"/>
    <div class="margin-top-5px">
        Tuổi
    </div>
    <input class="margin-top-5px" type="text" placeholder="26" id="age"/>
    <button class="margin-top-5px" type="button" id="submitProfile">Submit</button>
</div>
