<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Bss\CustomProfile\Block\Profile\ProfileDefault
 */

// phpcs:disable Magento2.Security.IncludeFile.FoundIncludeFile
// phpcs:disable PSR2.Methods.FunctionCallSignature.SpaceBeforeOpenBracket
?>

<div>
    <?php if ($block->getAllProfiles() && count($block->getAllProfiles())) :?>
        <div class="row">
            <div class="test-class col">
                Họ và tên
            </div>
            <div class="test-class col">
                Ngày tháng năm sinh
            </div>
            <div class="test-class col">
                Tuổi
            </div>
        </div>
        <?php foreach ($block->getAllProfiles() as $item) :?>
        <div class="row">
            <div class="test-class col">
                <div><?= $item->getData('full_name') ?></div>
            </div>
            <div class="test-class col">
                <div><?= $item->getData('date_of_birth') ?></div>
            </div>
            <div class="test-class col">
                <div><?= $item->getData('age') ?></div>
            </div>
        </div>
        <?php endforeach; ?>

    <?php endif; ?>
</div>
