<div data-mage-init='{ "profileViewSlider": {} }'>
    <div id="owl-demo" class="owl-carousel">
        <?php if ($block->getAllProfiles() && count($block->getAllProfiles())) :?>
            <?php foreach ($block->getAllProfiles() as $item) :?>
                <div class="item">
                    <div style="display: flex">
                        <div>Họ và tên : </div>
                        <div>&nbsp;</div>
                        <div><?= $item->getData('full_name') ?></div>
                    </div>
                    <div style="display: flex">
                        <div>Ngày tháng năm sinh : </div>
                        <div>&nbsp;</div>
                        <div><?= $item->getData('date_of_birth') ?></div>
                    </div>
                    <div style="display: flex">
                        <div>Tuổi : </div>
                        <div>&nbsp;</div>
                        <div><?= $item->getData('age') ?></div>
                    </div>
                </div>
            <?php endforeach ?>
        <?php endif ?>
    </div>
</div>
