<div>
    <?php if ($block->getDefaultName()) :?>
        <div class="test-class">
            <div> Họ và tên : </div>
            <div>&nbsp</div>
            <div> <?= $block->getDefaultName() ?> </div>
        </div>
    <?php endif ?>
    <?php if ($block->getDefaultDateBirth()) :?>
        <div class="test-class">
            <div> Ngày tháng năm sinh : </div>
            <div>&nbsp</div>
            <div> <?= $block->getDefaultDateBirth() ?> </div>
        </div>
    <?php endif ?>
    <?php if ($block->getDefaultAge()) :?>
        <div class="test-class">
            <div> Tuổi : </div>
            <div>&nbsp</div>
            <div> <?= $block->getDefaultAge() ?> </div>
        </div>
    <?php endif ?>
</div>
