.test-class {
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid;
    border-top: none;
}

.margin-top-5px {
    margin-top: 5px;
}

.owl-carousel {

}


